@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url(./Assets/Chic\ Lightings.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}

/* Making Header  Nav Menu */

header{
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    margin: 0;
    padding: 0;
    box-shadow: 0 0 10px 3px #222;
}

.head{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    background-color: #333;
}

.head img{
    height: 60px;
    width: 60px;
}

/* Menu Button Start*/

.wrapper .menu-btn{
    position: absolute;
    top: 10px;
    left: 12px;
    height: 45px;
    width: 45px;
    z-index: 999;
    color: #ffffff;
    background: #4a4a4a;
    border: 1px solid #333;
    text-align: center;
    line-height: 45px;
    border-radius: 20%;
    cursor: pointer;
    font-size: 23px ;
    transition: all 0.3s ease;
}

input[type="checkbox"]{
    display: none;
}
#btn:checked ~ .menu-btn{
    left: 247px;
}
#btn:checked ~ .menu-btn i:before{
    content: "\f00d";
}

/* Menu Button End*/

.wrapper #sidebar{
    position: fixed;
    height: 100%;
    width: 270px;
    bottom: 0;
    background-color: #404040;
    overflow: hidden;
    left: -270px;
    transition: all 0.3s ease;
}

/* Sidebar Checkbox Transition*/

#btn:checked ~ #sidebar{
    left: 0;
}

#sidebar .title{
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    background-color: #333;
    text-align: center;
}

#sidebar .list-items{
    position: relative;
    background-color: #404040;
    height: 100%;
    width: 100%;
    list-style: none;
}

#sidebar .list-items li{
    padding-left: 40px;
    line-height: 50px;
    border-top: 1px solid rgba(255,255,255,0.1);
    border-bottom: 1px solid #333;
    transition: all 0.3s ease;
}

#sidebar .list-items li a{
    color: white;
    height: 100%;
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
}

#sidebar .list-items li a i{
    margin-right: 20px;
}

/* List Items Hover Effect Start*/

#sidebar .list-items li:hover{
    box-shadow: 0 0 10px 3px #222;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

/* List Items Hover Effect End*/

/* Designing Icons */

#sidebar .list-items .icons{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar .list-items .icons a{
    margin: 0 5px;
    color: #f2f2f2;
    display: block;
    height: 40px;
    width: 40px;
    background: #4a4a4a;
    border: 1px solid #383838;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

/* Icons Hover Effect Start*/

#sidebar .list-items .icons a:hover{
    background: #404040;
}

/* main section */

#products{
    width: 100%;
    font-family: 'Poppins';
    height: 100%;
    background-color: white;
}

.mainflex{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
}

.div-heading{
    padding: 0;
    text-align: center;
    margin: 0;
    margin-left: 20px;
    margin-right: 20px;
}

.line1{
    margin: 0;
    padding: 0;
    width: 35vw;
}

.line2{
    margin: 0;
    padding: 0;
    width: 35vw;
}

.card-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 30px 0px;
}

.para{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.price{
    font-family: 'poppins';
    font-weight: normal;
    font-size: 20px;
    background-color: rgba(255, 166, 0, 0.363);
    border: 2px solid rgba(255, 166, 0, 0.636);
    border-radius: 50%;
    width: 8.4vh;
    height: 8vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 50px;
}


.cards{
    flex-basis: 20%;
    margin: 10px 0px;
    background-color: white;
    padding: 20px 0px;
    text-align: center;
    box-shadow: 0px 0px 10px 3px lightgray;
    padding: 50px;
}

.cards:hover{
    box-shadow: 0px 0px 10px 3px #ff730023;
}

.card-container img{
    width: 200px;
    border-radius: 10%;
}

.cards h3{
    padding: 10px 0px;
}

.cards p{
    margin: 0px 0px 20px 0px;
    line-height: normal;
    padding: 10px;
}

.cards input[type="submit"]{
    background-color: rgba(255, 166, 0, 0.363);
    padding: 10px 12px;
    border-radius: 10px;
    border: 1px solid rgba(255, 166, 0, 0.336);
    cursor: pointer;
}

.cards input[type="submit"]:hover{
    background-color:  rgba(255, 166, 0, 0.438);
    border: 1px solid rgba(255, 166, 0, 0.336);
}

@media only screen and(min-width: 200px) and(max-width: 767px){
    .card-container{
        width: 100%;
        flex-direction: column;
    }

    .cards{
        padding: 10px;
    }
}

section{
    background-color: #fff;
    padding: 20px 0px 0px 0px;
}

.sectionflex{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.sectionflex .data{
    font-size: 18px;
}

.sectionflex a{
    text-decoration: none;
}

.sectionflex button{
    background-color: rgba(255, 166, 0, 0.363);
    padding: 15px 32px;
    border-radius: 10px;
    border: 1px solid rgba(255, 166, 0, 0.336);
    cursor: pointer;
}

.sectionflex button:hover{
    background-color:  rgba(255, 166, 0, 0.438);
    border: 1px solid rgba(255, 166, 0, 0.336);
}

@media screen and (max-width: 572px){
    .sectionflex{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sectionflex .data{
        padding:0px 0px 30px 0px;
        font-size: 20px;
    }
    
}

/* Making Footer */

#footer-flex{
    display: flex;
    width: 100%;
    height: auto;
}

@media screen and (max-width: 572px){
    #footer-flex{
        display: flex;
        flex-direction: column;
    }
}

#footer-container{
    background-color: #000000c5;
    width: 25%;
    border: #333 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 572px){
    #footer-container{
        width: 100%;
        height: 30vh;
        padding-top: 35px;
    }
}

.footer-logo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-title{
    text-align: center;
    display: flex;
    line-height: 100px;
}

.footer-title a{
    color: #fff;
    text-decoration: none;
    font-size: 28px;
}

.navlist{
    background-color: #000000c5;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(255,255,255,0.1);
}

@media screen and (max-width: 572px){
    .navlist{
        width: 100%;
    }

    .navlist ul li{
        list-style: none;
        line-height: 50px;
    }
}

.navlist ul li{
    list-style: none;
    line-height: 50px;
    text-align: start;
}

.navlist ul li a{
    color: white;
    height: 100%;
    width: 100%;
    display: block;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.6s ease;
}

.navlist ul li a:hover{
    color: #ffae00;
    padding-left: 30px;
    transform: scale(1.2);

}

.navlist ul li a i{
    margin-right: 20px;
}

#container{
    background-color: #000000c5;
    width: 50%;
    color: #fff;
    display: flex;
    align-items: top;
    justify-content: center;
}

@media screen and (max-width: 572px){
    #container{
        width: 100%;
        height: 100%;
        border-bottom: #00000033 1px solid;
        padding-bottom: 10px;
    }
}

#side_section{
    width: 100%;
    line-height: 69px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

#side_section .side_title{
    color: rgb(255, 255, 255);
    font-family: 'poppins';
    text-align: center;
    font-weight: 600;
}

#side_section .side{
    color: #000000;
    width: 260px;
    height: 100%;
}

p span{
    font-weight: 600;
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
}

p{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 40px;
    font-family: 'Mulish' 'poppins' ;
    line-height: 40px;
}


.Feedback{
    color: #fff;
    width: 50%;
    background-color: #000000c5;
    border: #333 1px solid;
} 

.Feedback .feedback-heading{
    color: #fff;
    font-family: 'poppins';
    margin-top: 20px;
    text-align: center;
    border-bottom: #333 1px solid;
}

.inputs{
    padding: 20px;
}

label{
    margin-right: 5px;
}

.class0 span{
    color: red;
}

.class0 input{
    border: 2px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    box-sizing: border-box;  
    width: 100%;
    height: 30px;
}

.class3 textarea{
    width: 100%;
    padding: 12px 20px;
    box-sizing: border-box;  
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

.submit-button input{
    background-color: #4e4e4e77;
    border: none;
    color: white;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    margin: 4px 2px;
    font-family: 'poppins';
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.submit-button input:hover{
    background-color: #ffae00;
    transform: scale(1.1);
}

@media screen and (max-width: 572px){
    .Feedback{
        width: 100%;
    }
}